.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.magictime {
-webkit-animation-duration: 2s;
-moz-animation-duration: 2s;
-o-animation-duration: 2s;
animation-duration: 2s;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
h6{
   font-size:1.3rem;
}
/*     Custom CSS     */
@font-face {
   font-family: Cabin Sketch;
   src: url(../fonts/CabinSketch-Regular.ttf);
}
@font-face {
   font-family: Nixie One;
   src: url(../fonts/NixieOne-Regular.ttf);
}


/*      Keystroke Animation       */
.myName{
  width:70%;
  height:100vh;
  border-bottom:1px solid gray;
  background-color: #2b334f;
  background-image:url(../images/monitor.png);
  background-size: contain;
  background-repeat:no-repeat;
  background-position: bottom;
}

h1{
  padding-top:2%;
  /*padding-top:8.5%;*/
  margin-bottom:auto;
  font-family: 'Cabin Sketch', sans-serif !important;
  font-size:3.5em;
  /*font-size:3.5em;*/
  text-align:center;
  color:#000;
  /*color:#4caf50;*/
  /*color:#A4C9FF;*/
}
section.main{
  width:500%;
  height:100vh;
}

button{

}

/*       Letter Typing Effect         */
.line-1{
    position: relative;
    top: 35%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    /*font-size: 325%;*/
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
.wd{
   font-family:'Cabin Sketch';
   display: none;
   font-size:3rem;
}
.line-2{
position: relative;
top: 35%;
width: 24em;
margin: 0 auto;
/*font-size: 325%;*/
text-align: center;
white-space: nowrap;
overflow: hidden;
transform: translateY(-50%);
}
/* Animation */
.anim-typewriter{
  -webkit-animation: typewriter 5s steps(44) 2s 1 normal both,
              blinkTextCursor 800ms steps(44) infinite normal;
  -moz-animation: typewriter 5s steps(44) 2s 1 normal both,
              blinkTextCursor 800ms steps(44) infinite normal;
  -ms-animation: typewriter 5s steps(44) 2s 1 normal both,
              blinkTextCursor 800ms steps(44) infinite normal;
  -o-animation: typewriter 5s steps(44) 2s 1 normal both,
              blinkTextCursor 800ms steps(44) infinite normal;
  animation: typewriter 5s steps(44) 2s 1 normal both,
              blinkTextCursor 800ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 13.3em;}/*24em*/
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,0,.75);}
  to{border-right-color: transparent;}
}


/*-----------------D3 Chart--------------------*/

div.graph{
  /*margin-top:150px;*/
  /*padding: 0 10%;*/
  transition: all ease-in 0.5s;
  width:100%;
}
svg.chart{
   height:450px;
}
.chart rect{
  /*stroke-dashoffset:1600;
  animation: dash 5s linear;
  animation-fill-mode: forwards;
  fill:#4da6ff;
  fill:white;*/
}
@keyframes outline {
  to {
    stroke-dashoffset: 0;
  }
}
  div.bar {
    display: inline-block;
    width: 150px;
    height: 300px;
    background-color: #1a75ff;
    margin: 10px;
  }
  .chart{

  }
   svg g rect:hover{
   fill-opacity:0.7 !important;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    -webkit-font-smoothing: antialiased !important;
  	}
   .axis text {
     /*font-size: 15px;*/
     -webkit-font-smoothing: antialiased;
     color:red;
     font-weight:600;
   }

  	rect.bar:hover{
  		/*fill-opacity:0.7 !important;*/
  		/*fill:rgba(0, 0, 0, 0.8) !important;*/
  	}
  	.d3-tip {
    line-height: 1;
    font-weight: 600;
    padding: 12px;
    font-family:'Nixie One', cursive;
    font-size:1.4em;
   /* background: rgba(0, 0, 0, 0.8);*/
    background:#fff;
    border-radius: 2px;
    border:2px solid rgba(0, 0, 0, 0.8);
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }


/*---------------------Navigation--------------------*/
#fp-nav ul li a span {
  display:inline-block;
  background: #fff;
  margin-bottom:20% !important;
}
#fp-nav ul li a span:hover {
  background: #ABD2FA;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{ /*Make side hover nav sq*/
   border-radius: 0px;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
   border-radius:0px; /*Make side nav sq*/
}
.fp-controlArrow{
   top:85%;
}
.fp-controlArrow.fp-next{
   /*left:80px;*/
   right:15px;
}
.fp-controlArrow.fp-prev{
   left:15px;
}
.fp-controlArrow.fp-prev,.fp-controlArrow.fp-next{
   /*top:70px;*/
   bottom:70px;
}
.fp-controlArrow.fp-prev,.fp-controlArrow.fp-next{
border-color: transparent #fff;
transition: all ease-in-out 0.3s;
}
.fp-controlArrow.fp-prev:hover,.fp-controlArrow.fp-next:hover{
   border-color: transparent #000;
   -ms-transform:scale(1.3,1.3);
   -webkit-transform:scale(1.3,1.3);
   transform:scale(1.3,1.3);
   box-shadow: transparent transparent 10px 5px #000;
}
.fp-tableCell{
  vertical-align:top;
}

/*------------Pages------------------*/

h2{
  margin-left:auto;
  margin-right:auto;
}
h2.animated{
   /*animation-delay: 6s;*/
}
div.section{
  width:100%;
  height:100vh !important;
  box-sizing: content-box;
}

div.education{
  /*background-color:#4c5c68;*/
  background-color: #4E6096;
  /*background-color: #fcb052 !important;*/
  text-align: center;
  color:#fff;
  font-family: 'Nixie One', cursive;
  padding-bottom:20px;
}
#education{

}
div.ucf-info,div.dsc-info{
   margin-top:80px;
   font-size:1.6em;
}

.education_slide{
  background-image:url(../images/keyboard4.svg);
  background-size: calc(100%/1.5), 400px;
  background-repeat:no-repeat;
  background-position:calc(100%/2) 100%;
}
.slide{
   height:100vh !important;
}
div.skills{
  background-color: #2e5367;
}
.skill-img{
   padding-top:15px;
}

@keyframes animateImg{
   0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}
.anim-img{
   transition-timing-function: ease-in-out;
   animation-name: animateImg;
   animation-duration: 4s;
   transform-origin:70% 70%;
   animation-iteration-count: infinite;
   animation-play-state: running;
   animation-direction: linear;
   animation-delay: 2s;
}

div.tools{
  background-color: #9e9e9e;
}


button#draw,button#erase{
    width: 150px;
    height: 30px;
    background-color: transparent;
    overflow: hidden;
    border: none;
    background-image: url(../images/pencil.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 13px -5px;
    color:#000;
    font-weight: bold;
    font-size:17px;
}
button#erase{
   transition: all ease-in 0.5s;
}
button#draw{
   transition: all ease-in 2.8s;
}

button#erase:hover{
   /*-ms-transform: scale(1.2,1.2) rotate(-90deg);
   -webkit-transform: scale(1.2,1.2) rotate(-90deg);
   transform: scale(1.2,1.2) rotate(-90deg);*/
   /*-ms-transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);
   transform: rotate(-90deg);*/
}
/*button#draw:hover{
   animation: drawIt 2500ms steps(60) infinite;
   -webkit-animation: drawIt 2500ms steps(60) infinite;
   -moz-animation: drawIt 2500ms steps(60) infinite;
   -ms-animation: drawIt 2500ms steps(60) infinite;
}*/
/*button#erase:hover{
   animation: eraser 2000ms steps(60) infinite;
   -webkit-animation: eraser 2000ms steps(60) infinite;
   -moz-animation: eraser 2000ms steps(60) infinite;
   -ms-animation: eraser 2000ms steps(60) infinite;
}*/
/*@keyframes drawIt {
   from{transform: rotate(0deg);}
   to{transform: rotate(180deg);}
}*/
/*@keyframes eraser {
   from{transform: rotate(-45deg);}
   to{transform: rotate(-135deg);}
}*/
.btnrotate-e{
   -ms-transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
   transform: rotate(-135deg);
}
.btnrotate-d{
   -ms-transform: rotate(170deg);
   -webkit-transform: rotate(170deg);
   transform: rotate(170deg);
}
div.contact{
  background-color: #4e6096 !important;
}
.email{
   letter-spacing: 1.5px;
}

/* label color */
.input-field label {
 color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fff;
}
.input-field input[type=email]:focus + label {
  color: #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  /*border-bottom: 1px solid #fff;*/
  border-bottom-width: 1.5px;
}
h4.underline{
   border-bottom:1px solid #fff;
   padding-top:6px;
}

div.page_container{

}
div.portfolio{
   background-color:#242424;
   text-align: center;
   color:#fff;
   font-family: 'Nixie One', cursive;
}

@media only screen and (max-width: 640px) {
   div.ucf-info,div.dsc-info{
      margin-top:10px;
   }
   div.myName{
      height:100vh;
      border-bottom:1px solid gray;
      background-color: #2b334f;
      background-image:url(../images/monitor.png);
      background-size: contain;
      background-repeat:no-repeat;
      background-position: center;
   }
   h1{
      font-size:2rem;
   }

   div.education h2{
      font-size:3rem;
   }
   div.education h4{
      font-size:2rem;
   }
   div.education p{
      font-size:1.2rem;
   }
   div.education_slide{
   background-image:url(../images/keyboard4.svg);
   background-size: calc(100%/1.5), 400px;
   background-repeat:no-repeat;
   background-position:50% 95%;
   }
}
@media only screen and (max-width: 640px) {
}
